/*

# NvChad
!nvim/
/nvim/*
!nvim/lua/
/nvim/lua/*
!nvim/lua/custom/

!qtile/
qtile/__pycache__/

!awesome/
!alacritty/
!kitty/
!zathura/
!zsh/
!rofi/
!redshift/
!dunst/
!betterlockscreenrc
!starship.toml

!.gitignore
