/*

!qtile/
qtile/__pycache__/

!sexo/
sexo/
!sexo/lol
sexo/lol
!sexo/lol/anashe/

!awesome/
!alacritty/
!kitty/
!zathura/
!zsh/
!rofi/
!redshift/
!dunst/
!betterlockscreenrc
!starship.toml

!.gitmodules
!.gitignore
